__pycache__/
*.py[cod]
.venv/
venv/
.env
.env.*
!.env.example
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
*.tfvars
!example.tfvars
*.pem
*.key
.DS_Store
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
